/.*
/bin
/Packages
**/.robloxrc
rotriever.toml

/.github/
/.vscode/

/roblox
/build

/*.json
/*.toml
/*.yml
/*.md
/*.js
/*.tgz

/scripts
/globalTypes.d.lua
**/sourcemap.json
**/*.project.json

/test

**/__tests__
**/__tests__
**/__testUtils__
**/__fixtures__
**/TestMatchers
**/*.test.lua
**/*.spec.lua
**/jest.config.lua

**/*.rbxl
**/*.rbxlx
**/*.rbxl.lock
**/*.rbxlx.lock
**/*.rbxm
**/*.rbxmx
